.home__section {
  position: relative;
  padding-top: 8rem;
  padding-bottom: 6rem;
}

.home__section__hero::before {
  content: '';
  position: absolute;

  inset: 0px;
  top: -64px;
  z-index: -1;

  filter: brightness(0.3);

  background-position-x: center;
  background-size: cover;
  background-image: url('https://cdngarenanow-a.akamaihd.net/webth/cdn/garena/gamertocoder/bmg-banner/01.png');
}

.home__section__hero::after {
  content: '';
  position: absolute;

  z-index: -1;
  inset: 0px;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: 40vw;
  background-position-y: 0%;
  background-image: url('https://cdngarenanow-a.akamaihd.net/webth/cdn/garena/gamertocoder/bmg-characters/benson_03.png');

  opacity: 1;
  animation-name: benso_entry;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 700ms;
}

@keyframes benso_entry {
  0% {
    opacity: 0.2;
    background-position-y: 30%;
  }

  100% {
    opacity: 1;
    background-position-y: 0%;
  }
}

.home__section__hero__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.home__section__hero__logo > img {
  width: 240px;
}

.home__section__hero__btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  outline: none;
  border: none;
  border-radius: 1rem;
  padding: 1rem 2rem;
  font-weight: 400;
  color: #eee;
  background-color: transparent;
}

.btn--play-now {
  color: #eee !important;
  background-color: red;
}

.banners {
  display: grid;
  gap: 1rem;
}

@media (min-width: 600px) {
  .banners {
    grid-template-columns: 2fr 1fr;
  }

  .banner.row-span-2 {
    grid-row: span 2;
  }
}

.banner {
  height: 100%;
  display: flex;
  min-height: 144px;
  gap: 2rem;
  padding: 1rem;
  align-items: center;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;

  z-index: 10;
}

.banner__icon > img {
  aspect-ratio: 1;
  border-radius: 1rem;
}

@media (max-width: 600px) {
  .banner__icon {
    display: none;
  }
}

.banner:hover .banner__bg::before {
  filter: brightness(0.5);
}

.banner__bg::before {
  content: '';
  position: absolute;

  inset: 0px;
  z-index: -1;

  filter: brightness(0.35);
  transition: filter 100ms;

  background-position-x: center;
  background-size: cover;
  background-image: var(--banner-bg-url);
}

.banner__bg::after {
  content: '';
  position: absolute;

  inset: 0px;
  z-index: -2;

  background-color: var(--banner-bg-color);
}

.banner__content > h1 {
  border-left: 4px solid;
  padding-left: 1rem;
  margin-bottom: 0;
}

.home__section__download::after {
  z-index: -1;
  content: '';
  position: absolute;
  inset: 0px;
  opacity: var(--opacity, 1);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: 40vw;
  background-image: url('https://cdngarenanow-a.akamaihd.net/webth/cdn/garena/gamertocoder/bmg-characters/benson_04.png');
}

.platforms {
  display: grid;
  gap: 1rem;
}

@media (min-width: 600px) {
  .platforms {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.platform {
  position: relative;
  padding: 2rem;
  text-align: center;
  border: 2px solid white;
  border-radius: 1rem;
}

.platform__label {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}
