* {
  box-sizing: border-box;
}

html {
  font-family: 'Kanit', sans-serif;
}

body {
  margin: 0;
  background-color: rgb(5, 6, 11);
  color: #eee;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 2rem;
  display: flex;
  background-color: rgb(5, 6, 11, 0.5);
  z-index: 1000;
}

main {
  padding-top: 64px;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

.main-section {
  position: relative;

  padding-top: 14rem;
  padding-bottom: 12rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;

  padding-left: 1rem;
  padding-right: 1rem;
}

.section-entry::before {
  content: '';
  position: absolute;

  inset: 0px;
  top: -64px;
  z-index: -1;

  filter: brightness(0.3);

  background-position-x: center;
  background-size: cover;
  background-image: url('https://cdngarenanow-a.akamaihd.net/webth/cdn/garena/gamertocoder/bmg-banner/01.png');
}

.section-entry::after {
  z-index: -1;
  content: '';
  position: absolute;
  inset: 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: 40vw;
  background-image: url('https://cdngarenanow-a.akamaihd.net/webth/cdn/garena/gamertocoder/bmg-characters/benson_03.png');
}

.section-entry__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.section-entry__logo > img {
  width: 240px;
}

.section-entry__btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  outline: none;
  border: none;
  border-radius: 1rem;
  padding: 1rem 2rem;
  font-weight: 400;
  color: #eee;
  background-color: transparent;
}

.btn--play-now {
  background-color: red;
}

.banners {
  display: grid;
  gap: 1rem;
}

@media (min-width: 600px) {
  .banners {
    grid-template-columns: 2fr 1fr;
  }

  .banner.row-span-2 {
    grid-row: span 2;
  }
}

.banner {
  height: 100%;
  display: flex;
  min-height: 144px;
  gap: 2rem;
  padding: 1rem;
  align-items: center;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.banner__icon > img {
  aspect-ratio: 1;
  border-radius: 1rem;
}

@media (max-width: 600px) {
  .banner__icon {
    display: none;
  }
}

.banner:hover .banner__bg::before {
  filter: brightness(0.5);
}

.banner__bg::before {
  content: '';
  position: absolute;

  inset: 0px;
  z-index: -1;

  filter: brightness(0.25);
  transition: filter 100ms;

  background-position-x: center;
  background-size: cover;
  background-image: var(--banner-bg-url);
}

.banner__bg::after {
  content: '';
  position: absolute;

  inset: 0px;
  z-index: -2;

  background-color: var(--banner-bg-color);
}

.banner__content > h1 {
  border-left: 4px solid;
  padding-left: 1rem;
}

.minigames {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(min(200px, 35%), 1fr));
}

.minigame {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  text-decoration: none;
  color: inherit;
}

.minigame__backdrop::before {
  content: '';
  position: absolute;

  filter: blur(12px);

  inset: 0px;
  background-size: cover;
  background-image: var(--icon-url);
}

.minigame__icon {
  aspect-ratio: 1;
  position: relative;
}

.minigame__content {
  position: relative;
  z-index: 2;
  padding: 1rem;
  background-color: rgb(5, 6, 11, 0.2);
}

.minigame__icon::before {
  content: '';
  position: absolute;

  inset: 0px;
  background-size: cover;
  background-image: var(--icon-url);
}

.minigame--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hilight--game-name {
  border-left: 1rem solid white;
  padding-left: 1rem;
  margin-top: 4rem;
}

.hilight {
  display: grid;
  gap: 2rem;
  margin-bottom: 4rem;
}

@media (min-width: 600px) {
  .hilight {
    grid-template-columns: 3fr 1fr;
  }

  .hiilght__decs {
    grid-row-start: 1;

    grid-column-start: 2;
  }

  .hiilght__gall {
    grid-row-start: 1;
    grid-column-start: 1;
  }
}

.hilight__icon > img {
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 0.5rem;
}

.hiilght__gall {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.hilight__preview {
  position: relative;
  aspect-ratio: 16 / 9;

  overflow: hidden;
  border-radius: 0.5rem;
}

.hilight__preview::before {
  content: '';
  position: absolute;
  inset: 0px;

  background-repeat: no-repeat;
  background-image: var(--image-url);
  background-size: cover;
  background-color: rgb(5, 6, 11);
}

.hilight__preview--items {
  display: flex;
  gap: 0.5rem;
  overflow-x: auto;
  padding-bottom: 1rem;
}

.hilight__preview--item {
  position: relative;

  overflow: hidden;
  border-radius: 0.5rem;

  cursor: pointer;

  aspect-ratio: 16 / 9;
  flex: 0 0 min(35%, 160px);

  transition: transform 50ms ease-out;
}

.hilight__preview--item:hover {
  transform: scale(0.95);
}

.hilight__preview--item.selected {
  border: 3px solid white;
}

.hilight__preview--item::before {
  content: '';
  position: absolute;
  inset: 0px;

  background-repeat: no-repeat;
  background-image: var(--image-url);
  background-size: cover;
}

.hilight--genres {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.hilight--genre {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  border-radius: 0.75rem;
  background-color: rgb(255, 255, 255, 0.1);
}

.hilight--backdrop {
  position: absolute;
  top: 0;
  height: 380px;
  left: 0;
  right: 0;
  z-index: -1;
}

.hilight--backdrop::before {
  z-index: -1;
  filter: blur(4px) brightness(0.4);
  content: '';
  position: absolute;
  inset: 0px;
  background-image: url('https://cdngarenanow-a.akamaihd.net/webth/cdn/garena/gamertocoder/bmg-wallpaper/02.jpg');
}

a {
  color: inherit;
}
