.minigames__container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(min(200px, 35%), 1fr));
}

.minigames__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.minigame__card {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.minigame__card--backdrop::before {
  content: '';
  position: absolute;

  filter: blur(12px);

  inset: 0px;
  background-size: cover;
}

.minigame__card--icon {
  aspect-ratio: 1;
  position: relative;
}

.minigame__card__content {
  position: relative;
  z-index: 2;
  padding: 1rem 0rem;
}

.minigame__card:hover .minigame__card--icon::before {
  transform: scale(1.05);
}

.minigame__card--icon::before {
  content: '';
  position: absolute;

  transition: transform 50ms;
  border-radius: 2px;

  inset: 0px;
  background-size: cover;
  background-image: var(--icon-url);

  box-shadow: 0px 12px 24px -4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 12px 24px -4px rgba(0, 0, 0, 0.5);
}

.minigame__card__content--name {
  font-size: 1.25rem;
  display: block;
}

.minigame__card__content--genre {
  color: #aaa;
  font-size: 0.8rem;
}
